/** @format */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");


.poppins-font {
  font-family: "Poppins", sans-serif;
}

.profile-title {
  font-size: 32px;
  font-weight: bold;
  margin-top: 60px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
}

.profile-content {
  align-items: center;
  /* margin-top: 10px; */
  height: max-content;
  /* width: 100%; */
  flex-direction: column;
  background-color: black;
}

.profile-section {
  display: flex;
  align-items: flex-start;
  /* margin-right: 40px; */
}

.profile-picture-container {
  margin-right: 5px;
  margin-left: 5px;
  /* margin-top: -46.5rem; */
  /* display: inline; */
}

.circular-profile {
  /* position: flex; */
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid #494949;
  /* margin-top: 20px; */
  /* display: flex;
  flex-direction: column; */
  /* align-items: center;
  justify-content: center; */
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.admin-label {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  margin-top: 5px;
  /* color: #000000; */
  /* margin-left: 63px; */
}

.admin-name {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  margin-top: 20px;
  /* color: #000000; */
  /* margin-left: 63px; */
}


.company-label {
  font-family: "Poppins", sans-serif;
  font-size: 23px;
  margin-top: 5px;
  margin-left: 263px;
}



.profile-details {
  flex: 1;
  margin-right: 10px;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  align-items: flex-start;
}

.custom-profile-details {
  margin-left: 30px;
}

.input-text {
  width: 200px;
  margin-left: -25px;
  margin-bottom: 15px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.input-field {
  /* width: 200px; */
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 8px;
  /* margin-right: 100px;
  margin-top: 15px;
  margin-bottom: 13px; */
  /* font-family: "Poppins", sans-serif; */
}

/* display text without clicking edit button DATA */
.profile-data-text {
  margin-top: 8px;
  width: 300px;
  font-size: 24px;
  font-weight: bold;
  margin-right: 100px;
  color: #333;
  font-family: "Poppins", sans-serif;
}

.profile-buttons {
  justify-content: flex-center;
  display: flex;
  text-align: center;
  margin-top: 0px;
}

.save-button {
  margin-left: 380px;
  scroll-margin-right: 18px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: green;
  color: white;
  transition: background-color 0.3s ease;
}

.cancel-button {
  margin-left: 50px;
  scroll-margin-right: 18px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: red;
  color: white;
  transition: background-color 0.3s ease;
}

/* .edit-button {
  margin-left: 400px;
  margin-top: -65px;
  scroll-margin-right: 18px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #7f1f19;
  color: white;
  transition: background-color 0.3s ease;
} */

/* ADMIN PROFILE SETTINGS */
.profile-picture-label {
  display: inline-block;
  cursor: pointer;
}

.admin-picture {
  position: flex;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /* Create a circular shape */
  border: 2px solid #000000;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

/* company PROFILE SETTINGS */
.company-pic {
  display: inline-block;
  cursor: pointer;
  position: flex;
  transition: margin-left 0.3s ease;
}

/* Company picture when EDIT PROFILE IS  CLICKED */
.company-picture.editing {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  border: 2px solid #000;
  margin-left: 90px;
}

/* Company picture when EDIT PROFILE IS NOT CLICKED */
.company-picture {
  top: 0px;
  margin-top: 30px;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 2px solid #000;
  cursor: pointer;
  margin-left: 90px;
  transition: border-color 0.3s ease;
}

.profile-picture:hover {
  border-color: #aaa;
}

/* .circular-profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #ddd;
} */

.admin-image-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* Align the content to the right */
}

.admin-image {
  width: 40px;
  /* Adjust the width as needed */
  height: auto;
  margin-left: 10px;
  /* Add some spacing between the admin label and the image */
}

.admin-picture {
  /* width: 100%; */
  height: auto;
  border-radius: 50%;
}

.profile-picture-text {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Profile {
  display: flex;
  /* height: max-content; */
  flex-direction: column;
  /* margin-left: 2.20rem; */
  transition: margin-left 1s;
  /* background-color: #d4d4d4; */
}

/* Media query for small screens */
@media (max-width: 450px) {

  .circular-profile {
    position: flex;
    /* width: 150px;
    height: 150px; */
    border-radius: 50%;
    border: 2px solid #ddd;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    cursor: pointer;
    transition: border-color 0.3s ease;
  }

  .admin-picture {
    /* width: 100%; */
    height: auto;
    border-radius: 50%;
  }

  .profile-picture-text {
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* .profile-section {
    display: flex;
    align-items: center;
  }

  .profile-picture-container {
    margin-right: 0px;
  } */

  .admin-label {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    margin-top: 5px;
    color: #000000;
    /* margin-left: 63px; */
  }
  
  .admin-name {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    margin-top: 20px;
    color: #000000;
    /* margin-left: 63px; */
    align-items: center;
  }

  .profile-details {
    flex: 1;
    /* margin-right: 5px; */
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    align-items: flex-start;
  }

  .profile-data-text {
    display: flex;
    margin-top: 8px;
    /* width: 100%; */
    font-size: 20px;
    font-weight: bold;
    /* margin-right: 50px; */
    color: #333;
    font-family: "Poppins", sans-serif;
  }

  .input-text {
    margin-left: -20px;
    /* margin-bottom: 15px; */
    font-size: 18px;
    font-family: "Poppins", sans-serif;
  }

  .input-field {
    /* width: 100px; */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-right: 100px;
    /* margin-top: 15px; */
    margin-bottom: 13px;
    font-family: "Poppins", sans-serif;
  }

  .profile-buttons {
    display: flex;
    text-align: center;
    margin-top: 0px;
  }
}

@media (max-width: 500px) {

  /* .contentNav,
  .mainprof {
    inset: 0;
    z-index: -50;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.8);

  } */


  .noNav {
    width: 100%;
    margin-left: 2rem;
  }

  .prof-title {
    margin-left: 5rem;
  }

}


@media (min-width: 800px) {

  .prof-title {
    margin-left: 1rem;
  }

  .noNav {
    margin-left: 1rem;
  }
}

@media (min-width: 1000px){

  .heading {
    margin-left: 9rem;
  }
}

@media (max-width: 1000px) {

  .prof-title {
    margin-left: 2rem;
  }

  .heading {
    margin-left: 10rem;
  }

  .noNav {
    margin-left: 1rem;
  }

}

.profile-shift-right {
  /* margin-left: 1rem; */
  /* width: calc(100vw - 100px); */
  transition: margin-left 0.3s ease;
}

.prof-title {
  margin-left: 6rem;
}

.mainprof{
  width: calc(100vw - 90%);
}
