.Page {
  margin-top: 100px; /* Adjust the value as needed */
}

/* Container for the whole receipt */
.whole-receipt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  width: 450px;
  height: 600px;
  border: 1px solid #adadad;
}

/* Header text and logo container */
.header-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Logo */
.logo {
  width: 100px;
  height: 100px;
  margin-right: 60px;
  margin-top: 25px;
}

/* Company information container */
.company-info {
  flex-grow: 1; /* Allows it to grow and occupy remaining space */
}

/* Company name */
.company-name {
  font-size: 16px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  margin-bottom: 5px;
}

/* Company address and contact */
.company-details {
  font-size: 10px;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  margin-bottom: 5px;
}

/* OFFICIAL RECEIPT */
.receipt-header {
  font-size: 18px;
  margin-top: -20px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

/* Receipt name and date container */
.receipt-info-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* Receipt name */
.receipt-name {
  font-size: 12px;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
}

/* Receipt date */
.receipt-date {
  font-size: 12px;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  margin-left: 70px;
}

/* Address */
.receipt-address {
  font-size: 12px;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  margin-right: 285px;
  margin-bottom: 20px;
}

/* Table container */
.receipt-table-container {
  flex-grow: 1; /* Allows the table to occupy remaining space */
  overflow: auto; /* Enables scrolling if content overflows */
  width: 80%;
}

/* Receipt table */
.receipt-table {
  width: 100%;
  border-collapse: collapse;
}

/* Receipt table headers */
.receipt-table th {
  border: 1px solid #adadad;
  text-align: center;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  padding: 5px;
}

.receipt-table td.qty {
  width: 10%;
  padding: 3px;
}

.receipt-table td.unit {
  width: 10%; 
  padding: 3px;
}

.receipt-table td.item {
  width: 30%;
  padding: 3px;
}

.receipt-table td.price {
  width: 20%; 
  padding: 3px;
}

.receipt-table td.amount {
  width: 20%; 
  padding: 3px;
}

/* Receipt table cells */
.receipt-table td {
  border: 1px solid #adadad;
  text-align: center;
  font-weight: normal;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  padding: 5px;
}

/* sub total, vat, pwd, total */
.receipt-table-low tr td.description {
  position: relative;
  left: 150px;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

/* amount of all the above names */
.receipt-table-low tr td.amount {
  padding-left: 190px;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}
/* assisted by */
.receipt-assisted {
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  align-items: center;
}

/* Convert button */
.convert-button {
  text-align: center;
  margin-top: 10px;
}

/* White box for PDF options */
.white-box {
  width: 200px;
  height: 210px;
  background-color: white;
  position: relative;
  right: -1035px;
  top: -500px;
  border: 1px solid #adadad;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  z-index: 100;
}

/* Greetings to Customer */
.white-box-greeting {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}

/* Customer Name */
.bold-customer-id {
  font-size: 15px;
  font-weight: bold;
}

/* Box for pdf button */
.white-box-text {
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

/* Custom button styling */
.custom-button {
  margin-top: 10px;
  background-color: #50C878;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

/* Custom button hover effect */
.custom-button:hover {
  background-color: #097969;
}
