/** @format */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

nav {
  z-index: 2;
  flex-direction: column;
  justify-content: space-between;
  /* height: 100vh; */
  /* background-color: #000; */
  /* padding: 4rem 1rem 1rem 1rem; */
}

.navbar {
  transform: translateX(-100%);
}

.nav-link {
  display: flex;
  /* align-items: center; */
  /* color: #fff; */
  text-decoration: none;
  padding: 10px 1rem;
  border-radius: 5px;
  margin-bottom: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.active-link {
  background-color: #4d4f55;
  color: #000;
}

.active-link-foot {
  background-color: #4d4f55;
  color: #ffffff;
  padding: 10px;
}

.nav-link:hover {
  background-color: #292a2d;
  color: #fff;
}

.nav-link span {
  margin-left: 1px;
}

.nav-top {
  margin-top: 1rem;
}

.mobile-nav {
  background-color: #512615;
  width: 100%;
  height: 50px;
  display: none;
  margin-top: 4.2rem;
}

.mobile-nav-btn {
  color: #fff;
  background: transparent;
  outline: none;
  border: none;
  top: 100px;
  margin: 10px 15px;
}

@media only screen and (max-width: 400px) {
  /* nav {
    width: 50%;
    padding: 10px;
    height: 100%;
  } */
}

@media only screen and (max-width: 10px) {
  .mobile-nav {
    display: flex;
    align-items: center;
  }
  nav {
    width: 70%;
    top: 100px;
    min-height: calc(100vh - 38px);
  }

  .nav-btn {
    display: none;
  }
}

.collapsed {
  width: 65px;
}

.text-visible {
  display: inline-block;
}

.nav-link .icon {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-9px);
}

.collapsed .nav-link:hover {
  width: 140px; /* Width on hover */
  margin: 5px; /* Margin on hover */
  background-color: #808080;
  transform: translateX(-15px);
}

.collapsed .nav-link:hover span.text-visible {
  transition: transform 0.5s;
  margin-left: 75px;
}

.collapsed .nav-link:hover .icon {
  transform: translateX(1px);
}
