/** @format */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
/* Table - Header*/
.table-header {
  background-color: #512615;
  color: white;
  text-align: left;
  font-size: 16px;
}

.add-new-btn {
  font-family: "Poppins", sans-serif;
}

.poppins-font {
  font-family: "Poppins", sans-serif;
}

.status-table {
  width: 100%;
}

.search-bar {
  width: 500px;
  border-radius: 20px;
}

/* Table - Cell Data (below the header) */
.sort-table {
  background-color: #f2f2f2;
  font-size: 16px;
  color: #333;
  text-align: left;
}

.sort-table td {
  padding: 12px;
  padding-left: 22px;
}

.smooth-transition {
  transition: margin-right 0.3s ease; /* Adjust the property and timing as needed */
}

.content-shift-right {
  margin-left: 100px;
  width: calc(100% - 100px); /* para dili to the infinity and beyond ang width sa table */
  transition: margin-left 0.3s ease; /* Apply a smooth transition effect */
}
