/** @format */

.rotate-clockwise {
  transition: transform 0.3s ease-in-out;
  transform: rotate(180deg); /* Rotate 180 degrees (half turn) */
}

.rotate-counterclockwise {
  transition: transform 0.3s ease-in-out;
  transform: rotate(0deg); /* Rotate back to 0 degrees */
}
