/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "HelveticaNeue", sans-serif;
  background-color: #f7f9f9;
  color: black;
}

.app {
  display: flex;
  position: relative;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

.App{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
}


.page{
	flex-basis: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: margin-left 1s;
}

.page-with-navbar{
	margin-left: 15%;
}

@media only screen and (max-width: 768px){
	.page-with-navbar{
		width: 100%;
		margin-left: 0;
	}

}
